<!DOCTYPE html>
<html lang="ko" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, height=device-height, minimal-ui">
    <title>To Do List</title>
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/content.css">
    <script src="js/angular-1.6.6.js"></script>
    <script src="js/answer.js"></script>
</head>
<body ng-controller="todoList">
    <div class="wrap">
        <h1 class="blind">To do list</h1>
        <!-- header -->
        <header class="header">
            <h1 class="blind">추가 To do list 입력</h1>

            <!-- 다른 곳에서 사용 가능 -->
            <div class="regist-box">
                <form>
                    <legend class="blind">추가 To do list 입력</legend>
                    <fieldset>
                        <!-- <label for="import" class="label-option">중요도</label> -->
                        <select name="" id="import" class="select-option" ng-model="inputOption" focus-on="focusGo">
                            <option value="매우중요" selected>매우중요</option>
                            <option value="중요">중요</option>
                            <option value="보통">보통</option>
                        </select>
                        <div class="inp-head">
                            <textarea name="" id="" cols="30" rows="10" ng-model="inputText" focus-on="focusGoInptxt" placeholder="할 일을 입력하세요."></textarea>
                        </div>
                        <div class="btn-addbox"><button type="button" class="btn-add" ng-click="insertTodo(inputOption,inputText)">추가</button></div>
                    </fieldset>
                </form>
            </div>
        </header>

        <form name="forms" ng-submit="goSearch(forms)">
            <div class="filter-box">
                <fieldset class="filter-list">
                    <legend class="blind">To do list 필터 중요도</legend>
                    <button type="button" class="button-filter" ng-class="{on:names1.all}" ng-click="otherDeactive1()">모두</button>
                    
                    <input type="checkbox" id="typeBest" class="input-filter" ng-model="names1.importance1" ng-true-value="매우중요" ng-false-value="false" ng-click="toggleActive()"><label for="typeBest" class="label-filter">매우 중요</label>
                    <input type="checkbox" id="typeMore" class="input-filter" ng-model="names1.importance2" ng-true-value="중요" ng-false-value="false" ng-click="toggleActive()"><label for="typeMore" class="label-filter">중요</label>
                    <input type="checkbox" id="typeBase" class="input-filter" ng-model="names1.importance3" ng-true-value="보통" ng-false-value="false" ng-click="toggleActive()"><label for="typeBase" class="label-filter">보통</label>
                </fieldset>

                <fieldset class="filter-list">
                    <legend class="blind">To do list 필터 완료도</legend>
                    <button type="button" class="button-filter" ng-class="{on:names.all}" ng-click="otherDeactive()">모두</button>
                    
                    <input type="checkbox" name="complete" id="typeEnd2" class="input-filter" ng-model="names.complete" ng-true-value="true" ng-false-value="false" ng-click="active()"><label for="typeEnd2" class="label-filter">완료</label>
                    <input type="checkbox" name="complete" id="typeIng2" class="input-filter" ng-model="names.completeNot" ng-true-value="true" ng-false-value="false" ng-click="active()"><label for="typeIng2" class="label-filter">미완료</label>
                </fieldset>
                
            </div>
        </form>

        <section class="section todo-list">
            <h2 class="blind">할 일 목록</h2>

            <ul class="list">
                <li class="item" ng-class="{complete : list.status}" ng-repeat="list in todolist" ng-show="listview(list.importance, list.status)">
                    <strong class="blind" ng-if="list.status">완료된 할일</strong>

                    <input type="checkbox" id="{{'checking'+$index}}" class="checkbox-list" ng-model="itemModel" ng-checked="list.status" ng-change="changeStatus($index)">
                    <label for="{{'checking'+$index}}" class="label-list"><span class="blind">{{list.title}}</span></label>


                    <span class="point">중요도:{{list.importance}}</span>
                    <span class="date">추가일:{{list.date}}</span>
                    <h2 class="item-title">{{list.title}}</h2>
                </li>
            </ul>

        </section>
    </div>

</body>
</html>
